<div ng-controller="PostController">
    <button ng-click="postController.newPost()"
            type="button"
            class="btn btn-primary">
        New Post
    </button>
    /* This creates a hidden post that only the creator can see */
    <hr/>

    <p>/* This returns only my posts, not the post from the others yet*/</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Author</th>
                <th>Title</th>
                <th>Status</th>
                <th>Category</th>
                <th>Hidden</th>
                <th>Date</th>
                <th><!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>--></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="post in posts">
                <td>{{$index+1}}</td>
                <td>{{post.author}}</td>
                <td><a href="#/myposts/{{post._id}}">{{post.title}}</a></td>
                <td>{{post.status}}</td>
                <td>{{post.category}}</td>
                <td>{{post.hidden}}</td>
                <td>{{post.date}}</td>
                <td><a ng-click="postController.delete(post._id)" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
        </tbody>
    </table>


</div>
