<div class="row"
     data-ng-init="commentsController.show()">
    <form data-ng-submit="commentsController.update()">
      <h2 class="form-signin-heading">
        {{'posts.comments.titleEdit' | translate}}
      </h2>

      <br>

      <md-input-container class="md-block">
        <label>{{'posts.comments.form.label.content' | translate}}</label>
        <textarea name="content" ng-model="commentsController.comment.text"
                  type="text" md-maxlength="500" rows="5" md-select-on-focus required>
                  required
        </textarea>
      </md-input-container>

      <button class="btn btn-lg btn-block"
              type="submit">
          {{'posts.comments.form.button.save' | translate}}
      </button>
    </form>
</div>
