<div class="row"
     data-ng-init="postsController.show()">
    <form data-ng-submit="postsController.update()">
      <h2 class="form-signin-heading">
        {{'posts.edit.title' | translate}}
      </h2>

      <br>

      <md-input-container class="md-block">
        <label>{{'posts.form.content' | translate}}</label>
        <input type="text"
             id="inputTitle"
             ng-model='postsController.post.title'
             class="form-control"
             placeholder="{{'posts.form.placeholders.title' | translate}}"
             required autofocus>
      </md-input-container>
      <br>

      <md-input-container class="md-block">
        <label>{{'posts.form.content' | translate}}</label>
        <textarea name="content" ng-model="postsController.post.content"
                  placeholder="{{'posts.form.placeholders.content' | translate}}"
                  type="text" md-maxlength="500" rows="8" md-select-on-focus></textarea>
      </md-input-container>

      <br>

      <md-input-container class="md-block">
        <label>{{'posts.form.category' | translate}}</label>
        <input type="text"
             id="inputCategory"
             ng-model='postsController.post.category'
             class="form-control"
             placeholder="{{'posts.form.placeholders.category' | translate}}">
      </md-input-container>

      <br>
      <button class="btn btn-lg btn-primary btn-block" 
              type="submit">
        {{'posts.form.button.save' | translate}}
      </button>
    </form>
</div>
