<div class="row">
  <div class="col-xs-12">

    <form data-ng-submit="answersController.create()">
      <h2 class="form-signin-heading">
        {{'posts.answers.title' | translate}}
      </h2>

      <br>

      <md-input-container class="md-block">
        <label>{{'posts.answers.form.label.content' | translate}}</label>
        <textarea name="content" ng-model="answersController.answer.text"
                  type="text" md-maxlength="500" rows="5" md-select-on-focus required>
                  required
        </textarea>
      </md-input-container>

      <button class="btn btn-lg btn-block"
              type="submit">
        {{'posts.answers.form.button.save' | translate}}
      </button>
    </form>
  </div>
</div>
