<form data-ng-submit="postsController.create()" name="newPost">
    <h2 class="form-signin-heading">
        {{'posts.create.title' | translate}}
    </h2>
    <hr/>
    <br>
    <md-input-container class="md-block">
        <label>{{'posts.form.title' | translate}}</label>
        <input name="title" ng-model="postsController.post.title"
               placeholder="{{'posts.form.placeholders.title' | translate}}"
               type="text">
    </md-input-container>

    <md-input-container class="md-block">
        <label>{{'posts.form.content' | translate}}</label>
        <textarea name="content" ng-model="postsController.post.content"
               placeholder="{{'posts.form.placeholders.content' | translate}}"
               type="text" md-maxlength="500" rows="8" md-select-on-focus></textarea>
    </md-input-container>

    <md-input-container class="md-block">
        <label>{{'posts.form.category' | translate}}</label>
        <input name="category" ng-model="postsController.post.category"
               placeholder="{{'posts.form.placeholders.category' | translate}}"
               type="text">
    </md-input-container>

    <md-input-container class="md-block">
    <input type="file" ngf-select ng-model="postsController.post.file" name="file"
           accept="image/png" ngf-max-size="2MB" required
           ngf-model-invalid="errorFile">

    </md-input-container>
    <br>
    <img ng-show="newPost.file.$valid" ngf-thumbnail="postsController.post.file" class="thumb">
    <md-button class="md-raised md-warn" ng-click="postsController.post.file = null"
            ng-show="postsController.post.file">{{'posts.form.delete' | translate}}
    </md-button>
    <br><br>

    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
        {{'posts.form.accept' | translate}}
    </md-checkbox>
    <br><br>
    <md-button class="md-raised md-primary"
            type="submit">
        {{'posts.form.button.save' | translate}}
    </md-button>
</form>
