<div class="row">
  <div class="col-xs-12">

    <form data-ng-submit="usersController.register(usersController.user)">
      <h2 class="form-signin-heading">
        {{'user.account.registration' | translate}}
      </h2>

      <br>
      <label for="inputName" class="sr-only">
        {{'user.account.form.label.name' | translate}}
      </label>
      <input type="text"
             id="inputName"
             ng-model='usersController.user.name'
             class="form-control"
             placeholder="{{'user.account.form.placeholder.name' | translate}}"
             required autofocus>


      <br>
      <label for="inputUsername" class="sr-only">
        {{'user.account.form.label.username' | translate}}
      </label>
      <input type="text"
             id="inputUsername"
             ng-model='usersController.user.username'
             class="form-control"
             placeholder="{{'user.account.form.placeholder.username' | translate}}"
             required autofocus>

      <br>
      <label for="inputPassword" class="sr-only">
        {{'user.account.form.label.password' | translate}}
      </label>
      <input type="password"
             id="inputPassword"
             ng-model='usersController.user.password'
             class="form-control"
             placeholder="{{'user.account.form.placeholder.password' | translate}}"
             required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        {{'user.account.form.button.register' | translate}}
      </button>
    </form>
  </div>
</div>
