<div class="row" data-ng-init="usersController.show()">
  <div class="col-xs-12">
    <h2>
        {{'users.show.title' | translate}}
    </h2>
    <hr>
    {{'user.account.form.label.username' | translate}}: {{usersController.user.username}}<br>
    {{'user.account.form.label.name' | translate}}: {{usersController.user.name}}<br>
    {{'user.account.form.label.middlename' | translate}}: {{usersController.user.middlename}}<br>
    {{'user.account.form.label.surname' | translate}}: {{usersController.user.surname}}<br>
    {{'user.account.form.label.birthdate' | translate}}: {{usersController.user.birthdate}}<br>
    {{'user.account.form.label.practiceinfo' | translate}}: {{usersController.user.practiceinfo}}<br>
    {{'user.account.form.label.practicename' | translate}}: {{usersController.user.practicename}}<br>
    {{'user.account.form.label.street' | translate}}: {{usersController.user.street}}<br>
    {{'user.account.form.label.streetno' | translate}}: {{usersController.user.streetno}}<br>
    {{'user.account.form.label.city' | translate}}: {{usersController.user.city}}<br>
    {{'user.account.form.label.postal' | translate}}: {{usersController.user.postal}}<br>
    {{'user.account.form.label.phone' | translate}}: {{usersController.user.phone}}<br>
    {{'user.account.form.label.mobile' | translate}}: {{usersController.user.mobile}}<br>
    {{'user.account.form.label.mail' | translate}}: {{usersController.user.mail}}<br>
    {{'user.account.form.label.function' | translate}}: {{usersController.user.function}}<br>
    <a ui-sref="app.users#edit( {id: usersController.user._id})" href="">edit</a>
  </div>
</div>
