<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
  <div data-ui-view="header">  </div>
  <div class="nav-buttons">
    <div data-ui-view="navigation"></div>
  </div>
</div>