<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MedEx</a>
    </div>
    <div data-ui-view="navigation"></div>
    <div data-ui-view="header"></div>
  </div>
</nav>
