<div class="main_container" layout="row" layout-align="center">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <div flex data-ui-view='content'></div>
    </div>
  <div class="col-sm-3">
    <div flex><% include right %></div>
    </div>
  <div class="col-sm-1">
  </div>
</div>
