<div class="row"
     data-ng-init="postsController.getPost()">
  <div class="col-xs-12">

    <form data-ng-submit="postsController.createAnswer(postsController.answer)">
      <h2 class="form-signin-heading">
        {{'posts.answers.title' | translate}}
      </h2>

      <br>

      <label for="inputAnswerContent" class="sr-only">
        {{'posts.answers.content' | translate}}
      </label>

      <textarea class="form-control"
                ng-model='postsController.answer.text'
                rows="5"
                placeholder="{{'posts.answers.form.placeholders.content' | translate}}"
                id="inputAnswerContent"
                required autofocus>
      </textarea>

      <br>

      <button class="btn btn-lg btn-primary btn-block" 
              type="submit">
        {{'posts.answers.form.button.save' | translate}}
      </button>
    </form>
  </div>
</div>
