<div data-ng-if="applicationController.isLoggedIn()">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a data-ui-sref="app.user">
        <span class="glyphicon glyphicon-user"></span>
        {{applicationController.getUser().username}}
      </a>
    </li>
    <li>
      <a data-ui-sref="app.logout">
        <span class="glyphicon glyphicon-log-in"></span>
        {{'global.account.logout' | translate}}
      </a>
    </li>
  </ul>
</div>

<div data-ng-if="!applicationController.isLoggedIn()">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a data-ui-sref="app.register">
        <span class="glyphicon glyphicon-user"></span>
        {{'global.account.register' | translate}}
      </a>
    </li>
    <li>
      <a data-ui-sref="app.login">
        <span class="glyphicon glyphicon-log-in"></span>
        {{'global.account.login' | translate}}
      </a>
    </li>
  </ul>
</div>
