<md-menu>
  <md-button md-menu-origin ng-click="$mdOpenMenu()">{{applicationController.language()}}</md-button>
  <md-menu-content width="2">
    <md-menu-item data-ng-repeat="lang in applicationController.languages">
      <md-button><a href="#" data-ng-click="applicationController.setLanguage(lang)">
        {{lang}}
      </a></md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<a data-ng-if="applicationController.isLoggedIn()" ui-sref="app.users#show( {id: applicationController.getUser()._id})" href="" style="margin-right: 20px;">
    <span class="glyphicon glyphicon-user"></span>
    {{applicationController.getUser().username}}
</a>
<span data-ui-sref="app.register">
<md-button class="btn btn-xs btn-primary" data-ng-if="!applicationController.isLoggedIn()">
  {{'global.account.register' | translate}}
</md-button>
</span>
<span data-ui-sref="app.logout">
<md-button class="btn btn-xs btn-primary btn-logout" data-ng-if="applicationController.isLoggedIn()" >
  <span class="glyphicon glyphicon-log-in"></span>
  {{'global.account.logout' | translate}}
</md-button>
</span>
<span data-ui-sref="app.login">
<md-button class="btn btn-xs btn-primary" data-ng-if="!applicationController.isLoggedIn()" >
  <span class="glyphicon glyphicon-log-in"></span>
  {{'global.account.login' | translate}}
</span>