<div class="row" data-ng-init="postsController.show()">
  <h2 class="">
      {{'posts.show.comment' | translate}}
  </h2>
  <hr/>
    <a ui-sref="app.comments#create({id: postsController.post._id})" href="" 
      type="button" class="btn btn-block">
        {{'posts.show.button.newComment' | translate}}
    </a>

    <h2 class="">
        {{'posts.show.answer' | translate}}
    </h2>
    <hr/>
    <a ui-sref="app.answers#create({id: postsController.post._id})" href="" 
      type="button" class="btn btn-block">
        {{'posts.show.button.newAnswer' | translate}}
    </a>
</div>
