<div class="row" data-ng-init="postsController.show()">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="/assets/images/default-user-image.png"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{postsController.post.author}}</span>
                <span class="md-subhead">{{postsController.post.date | date: format: 'dd.mm.yyyy'}}</span>
            </md-card-header-text>
        <span ng-if="postsController.post.solved"
              class="label label-success"
              style="line-height:40px; vertical-align: middle; display: inline-block;">
          {{'posts.solved' | translate}}
        </span>
        </md-card-header>
        <img ng-src="/assets/uploads/{{postsController.post._id}}.png" class="md-card-image" alt="">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{postsController.post.title}}</span>
            <span class="md-subhead">
                <ul class="list-inline">
                    <li class="category">
                        {{postsController.post.category}}
                    </li>
                </ul>
            </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-button class="btn btn-xs" ng-if="postsController.canEdit(postsController.post)" ng-click="postsController.edit(postsController.post)">{{'posts.show.button.editPost' | translate}}</md-button>
            <md-button class="btn btn-xs" ng-if="!postsController.post.solved && postsController.canEdit(postsController.post)"
                       ng-click="postsController.solve(true)">{{'posts.show.button.marksolved' | translate}}</md-button>
            <md-button class="btn btn-xs" ng-if="postsController.post.solved && postsController.canEdit(postsController.post)"
                       ng-click="postsController.solve(false)">{{'posts.show.button.marknotsolved' | translate}}</md-button>
            <md-card-icon-actions>
            <span class="rating_post" ng-if="!postsController.canEdit(postsController.post)">
                {{'posts.rating' | translate}}: {{postsController.post.rating}}
            <a ng-click="postsController.rate(1)" href="">
              <span class="glyphicon glyphicon-thumbs-up"></span></a> | <a ng-click="postsController.rate(-1)" href="">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </a>
            </span>
            </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <span class="md-subhead">{{'posts.show.description' | translate}}</span>
            <p>{{postsController.post.content}}</p>
        </md-card-content>
    </md-card>
</div>
<div class="row">
    <h4>
        {{'posts.show.listcomments' | translate}}
    </h4>
    <hr/>
    <md-card ng-repeat="comment in postsController.post.comments">
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="/assets/images/default-user-image.png"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{comment.author}}</span>
                <span class="md-subhead">{{comment.date | date: format: 'dd.mm.yyyy'}}</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-title>
            <md-card-title-text>
                <span class="md-subhead text-comment">{{comment.text}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center" ui-sref="app.comments#edit( {id: comment.post, commentId:comment._id})">
            <div ng-controller="CommentsController as commentsCtrl">
                <md-button ng-if="commentsCtrl.canEdit(comment)" class="btn btn-xs">{{'posts.show.button.editComment' | translate}}</md-button>
                </div>
        </md-card-actions>
    </md-card>
</div>

<div class="row">
    <h3>
        {{'posts.show.listanswers' | translate}}
    </h3>
    <hr/>
    <md-card ng-repeat="answer in postsController.post.answers">
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="/assets/images/default-user-image.png"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{answer.author}}</span>
                <span class="md-subhead">{{answer.date | date: format: 'dd.mm.yyyy'}}</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-title>
            <md-card-title-text>
                <span class="md-subhead text-answer">{{answer.text}}</span>
            </md-card-title-text>
        </md-card-title>
        <div ng-controller="AnswersController as answersCtrl">
        <md-card-actions layout="row" layout-align="start center">

                <md-button class="btn btn-xs" ng-if="answersCtrl.canEdit(answer)" ui-sref="app.answers#edit( {id: answer.post, answerId:answer._id})">{{'posts.show.button.editAnswer' | translate}}</md-button>

            <md-card-icon-actions>
                <span class="rating_post" ng-if="!answersCtrl.canEdit(answer)">
                    {{'posts.rating' | translate}}: {{answer.rating}}
                    <a ng-click="answersCtrl.rate(answer,1)" href="">
                      <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>

                    |

                    <a ng-click="answersCtrl.rate(answer,-1)" href="">
                      <span class="glyphicon glyphicon-thumbs-down"></span>
                    </a>
                </span>
        </md-card-icon-actions>
        </md-card-actions>
        </div>
    </md-card>
</div>
