<div class="row"
     data-ng-init="answersController.show()">
  <div class="col-xs-12">

    <form data-ng-submit="answersController.update()">
      <h2 class="form-signin-heading">
        {{'posts.answers.title' | translate}}
      </h2>

      <br>

      <label for="inputAnswerContent" class="sr-only">
        {{'posts.answers.form.label.content' | translate}}
      </label>

      <textarea class="form-control"
                ng-model='answersController.answer.text'
                rows="5"
                id="inputAnswerContent"
                required autofocus>
      </textarea>

      <br>

      <button class="btn btn-lg btn-primary btn-block"
              type="submit">
        {{'posts.answers.form.button.save' | translate}}
      </button>
    </form>
  </div>
</div>
