<div class="row"
     data-ng-init="postsController.getPost()">
  <div class="col-xs-12">

    <form data-ng-submit="postsController.createComment(postsController.comment)">
      <h2 class="form-signin-heading">
        {{'posts.comments.title' | translate}}
      </h2>

      <br>

      <label for="inputCommentContent" class="sr-only">
        {{'posts.comments.content' | translate}}
      </label>

      <textarea class="form-control"
                ng-model='postsController.comment.text'
                rows="5"
                placeholder="{{'posts.comments.form.placeholders.content' | translate}}"
                id="inputCommentContent"
                required autofocus>
      </textarea>

      <br>

      <button class="btn btn-lg btn-primary btn-block" 
              type="submit">
        {{'posts.comments.form.button.save' | translate}}
      </button>
    </form>
  </div>
</div>
