html, body {
  margin: 0 auto;
}

.content {
  min-height: 500px;
}

.imprint {
  text-align:right;
}

.category {
  background: #00BFFF;
  padding: 4px;
  margin: 2px;
}

.question{
  background: #ccc;
  padding: 10px 0;
}

.main_container{
  min-height: 700px;
}

.glyphicon-thumbs-up{
  margin-left: 15px;
}
.label-success{
  width: 70px;
}
input:focus {
  border-bottom: 1px solid #64b5f6 !important;
}
textarea:focus {
  border-bottom: 1px solid #64b5f6 !important;
}
a{
  color: #64b5f6 !important;
}
.btn{
  background-color: #64b5f6 !important;
  color: white !important;
}
md-checkbox.md-checked.checkbox .md-icon {
  background-color: rgba(100, 181, 246, 0.87);
}
h2{
  font-size: 25px !important;
}
.rating_post{
  padding-left: 10px;
  padding-right: 10px;
}
.text-comment{
  margin-top: -25px;
}
.text-answer{
  margin-top: -25px;
}
.btn-logout{
  margin-top: -5px !important;
}
footer img{
  height: 50px; margin-top: -8px;
}
#footer_logo{
  font-size: 58px;
}