html, body {
  margin: 0 auto;
}

.content {
  min-height: 400px;
}

.imprint {
  text-align:right;
}

.category {
  background: #00BFFF;
  padding: 4px;
  margin: 2px;
}

.question{
  background: #ccc;
  padding: 10px 0;
}

.main_container{
  margin-left: 122px;
  margin-right: 122px;
}

.glyphicon-thumbs-up{
  margin-left: 15px;
}
.label-success{
  width: 70px;
}
table