<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MedEx</title>
    <!-- build:css -->
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    <!-- endbuild -->

    <!-- build:fonts -->

    <!-- endbuild -->
</head>

<body data-ng-app="MedEx">
  <% include partials/header %>
  <% include partials/main %>
  <% include partials/footer %>
</body>

<!-- build:vendor-js -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-ui/build/angular-ui.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbuild -->


<!-- build:js -->
  <script src="config.js"></script>
  <script src="application.js"></script>
  <script src="routes/index.js"></script>
  <script src="routes/users.js"></script>
  <script src="services/ApiService.js"></script>
  <script src="services/AuthService.js"></script>
  <script src="controllers/UsersController.js"></script>
<!-- endbuild -->

</html>
