doctype html
html(class='no-js', xmlns:ng="http://angularsj.org")
  head
    meta(charset='utf-8')

    title= title

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')


  body
    .container
      p Hello, this is only a test.



